.carousel-inner, .carousel-item {
    height: auto; }
  
  .carousel-item img {
    height: auto;
    object-fit: cover; }
  
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%; }
  
  .btn-danger {
    margin-bottom: 20px; }
  
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  